.container {
    text-align: 'center';
    height: '100%';
    width: '100%';
    background: url(http://papers.co/wallpaper/papers.co-vm09-poly-blue-purple-abstract-pattern-36-3840x2400-4k-wallpaper.jpg);
  background-size: '100% 100%';
}