/* .webcam-container {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
} */
 /*.Cam {
   width: 50%;
   align-content: right;
   align-items: right;
   align-self: right;
}*/

/* where grid starts */
.Grid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: blue;
    width: 50%;
    height: 0px;
    justify-content: right;
    border: 1px solid rgba(0, 0, 0, 2);
    transform: translate(753px, -484px);
}

.grid-item {
    width: 317px;
    height: 120px;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(165, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.logo {
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    align-content: right;
    align-items: right;
    align-self: right;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

